
.footer {
    padding: 10px 20px;
    background-color:   #6a11cb;
    color: #fff; 
    color: white;
    text-align: center;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .footer a:hover {
    color: #f3a1e3; 
  }
  